#
# copy to .env and adjust
#

# MQTT settings
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USER=username
MQTT_PASS=s3cr3t
# Prefix for the published messages
MQTT_TOPIC_PREFIX=tele

# Exclude these topics (blacklist, comma-separated)
TOPICS_BLACKLIST=/R3mn8U/xxxxxxx/log

# Period in seconds to wait before publishing MQTT messages
PUBLISH_PERIOD_SECONDS=30
